@charset "utf-8";
/* CSS Document */
html{margin:0px;padding:0px;border:0px; height:100%; background:#fff;}/*background:#f6f6fe;*/
body {
	font-family: "Microsoft YaHei", Arial, sans-serif;margin:0px;padding:0px;border:0px;max-width:640px; min-width:320px; height:100%; margin:0 auto;
}


* {
	padding: 0;
	margin: 0;
	border: 0;
	font-style: normal;
	/*font-weight: normal;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);	/*禁止链接高亮*/
	-webkit-touch-callout: none;					/*禁止链接长按弹出选项菜单*/
	-webkit-appearance: none;
}
input,div,ul,li,form{margin:0px;padding:0px;border:0px;}
div,ul,li{list-style: none;-webkit-appearance: none;}
select{-webkit-appearance: none;appearance:none;}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0);	/*禁止链接高亮*/
	-webkit-touch-callout: none;					/*禁止链接长按弹出选项菜单*/
}
a:link, a:visited, a:hover, a:active {color: #333333;text-decoration: none;
}
input[type="button"], input[type="submit"],input[type="text"],input[type="password"], input[type="reset"] {-webkit-appearance: none;}
textarea {  -webkit-appearance: none;}

input, textarea {-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
video{max-width:100%; max-height:200px;}

form{margin:0px; padding:0px;}
.clear{clear:both;}
